@model RecipeDto

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>update recipe</title>
</head>
<body>

    <form asp-action="AddRecipe" asp-controller="Home" method="post" class="p-4 w-25 mx-auto mt-5 shadow container">


        <div class="form-group">
            <label asp-for="@Model.Title">Title</label>
            <input asp-for="@Model.Title" type="text" class="form-control" />
        </div>



        <div class="form-group">
            <label asp-for="@Model.Categories ">CategoryName</label>
            <input asp-for="@Model.Categories" type="text" class="form-control" />
        </div>


        <div class="form-group">
            <label asp-for="@Model.Ingredients">IngredientName</label>
            <input asp-for="@Model.Ingredients" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Direction.Step">Step</label>
            <input asp-for="@Model.Direction.Step" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-block btn-info">Update</button>
        </div>

    </form>
</body>
</html>